<!-- Page Content -->
<div class="container"
     style="padding-top: 56px;">

  <div class="row">

    <div class="col-lg-2">

      <h1 class="my-4">Category</h1>
      <div class="list-group">
        <a class="list-group-item">All</a>
        {{#each categories}}
          <a data-category="{{category}}"
             class="list-group-item">{{category}}</a>
        {{/each}}
      </div>

    </div>
    <!-- /.col-lg-2 -->

    <div class="col-lg-8">

      <div class="row">
        {{#each items}}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top"
                     src="http://fakeimg.pl/700x400"
                     alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/item?id={{_id}}">{{name}}</a>
                </h4>
                <h5>${{price}}</h5>
                <p class="card-text">{{description}} ...</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-8 -->

    <!-- col-lg-2 -->
    <div class="col-lg-2">
      <h1 class="my-4">Sort by</h1>
      <select name="sortSelect"
              id="sortSelect"
              class="custom-select">
        <option value="Name">Name</option>
        <option value="Price">Price</option>
      </select>
    </div>
  </div>
  <!-- ./col-lg-2 -->

</div>
<!-- /.row -->
<!-- pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link"
         data-page='previous'>Previous</a></li>
    {{#each pages}}
      <li class="page-item"><a class="page-link"
           data-page={{this}}>{{this}}</a></li>
    {{/each}}
    <li class="page-item"><a class="page-link"
         data-page='next'>Next</a></li>
  </ul>
</nav>
<!-- /pagination -->

</div>
<!-- /.container -->

<script>
  const query = new URLSearchParams(location.search);
  const currentPage = 1;
  const currentCategory = ''
  $('[data-category]').on('click', function (event) {
    event.preventDefault();
    const category = $(this).attr('data-category');
    if (category !== currentCategory) {
      if (category === 'all') query.delete('category');
      else query.set('category', category);
      redirect();
    }
  })

  function redirect() {
    const url = '?' + query.toString();
    $(location).attr('href', url);
  }

  $('#sortSelect').on('change', function () {
    query.set('sortby', this.value);
    redirect();
  })

  $('[data-page]').on('click', function (event) {
    event.preventDefault();
    const page = Number($(this).attr('data-page'));
    if (page !== currentPage) {
      query.set('page', page);
      redirect();
    }
  })
</script>